.container {
  background: linear-gradient(
    108.1deg,
    rgb(167, 220, 225) 11.2%,
    rgb(217, 239, 242) 88.9%
  );
  max-width: 1100px;
  font-family: Montserrat;
  margin-top: 25px;
}
header {
  text-align: right;
  margin: 0px;
  padding: 5px;
  /*margin-top: 0px;*/
  margin-bottom: 0px;
}

.search-bar {
  width: 350px;
  padding: 5px;
  font-size: 25px;
  margin-top: 30px;
  margin-right: 10px;
  border-radius: 30px;
  text-align: center;
  border: none;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
}
.search-button {
  padding: 10px 22px;
  font-size: 20px;
  border-radius: 30px;
  background-color: rgb(35, 160, 93);
  color: white;
  border: none;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
}
.current-button {
  margin-right: 0px;
  margin-left: 10px;
  text-align: right;
  align-items: right;
}
.current {
  margin-left: 50px;
  margin-top: 25px;
}

.current__city {
  position: absolute;
  top: 60px;
  font-weight: 600;
}

.footer {
  margin-left: 220px;
  font-weight: bold;
}
