.current__temperature {
    font-weight: bold;
    font-size: 45px;
  }
  
  .forecast {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 25px;
  }
  
  .weather-forecast-date,
  .weather-forecast-temperatures {
    font-weight: bold;
    text-align: center;
    font-size: 25px;
  }
  .weather-forecast-temperatures {
    margin-bottom: 35px;
  }
  
  li {
    list-style-type: none;
    text-align: left;
  }
  ul {
    padding-left: 0px;
  }
  
  .units {
    position: relative;
    top: -20px;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.5;
    text-decoration: none;
  }
  
  .current__temperature .active {
    color: black;
    cursor: default;
  }
  .current__temperature .active:hover {
    text-decoration: none;
  }
  